@import "src/variables.scss";
:host{
  flex: 0 0 10em;  
  transition: flex $transitionTime;
  min-width: 3em;
  &.minimize {
    flex: 0 0 3em;
  }
}

.d-main-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

@media only screen and (max-device-width: 900px) {
  :host{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: height $transitionTime;
    &.minimize {
      height: 3em;
    }
  }
}

/*START COLOR*/
:host,
.d-main-nav {
  background-color: $d-color-1;
  z-index: 1;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, .3);       
}
/*END COLOR*/

/*START CONTENT*/
:host,
.d-main-nav{
  text-align: right;
  padding: 0;
  .d-nav-controls{
    padding: 1em;
  }
}
/*END CONTENT*/

.d-main-nav{
  overflow: hidden;
  text-align: right;
  padding: 0;
  .d-nav-controls{
    padding: 1em;
  }  
}

.d-main-nav{  
  .d-menu{
    .d-menu-item{
      display: flex;
      color: #eef0f2;
      height: 2em;
      padding: .5em;
      border-left: 4px solid transparent;
      .material-icons{
        margin-right: .5em;
      }
      .d-label{
        opacity: 1;
        transition: opacity ease-in .5s;
      }
      &.active{
        background-color: rgba(255,255,255, .1);
        border-left: 4px solid #eef0f2;
      }      
      *{
        align-self: center;
      }
    }
  }
  &.minimize{
    .d-menu{
      .d-menu-item{
        .d-label{
          opacity: 0;
        }
      }
    }
  }  
}
